In [1]:
# This is your first data analytics code
import pandas as pd

# Create a small dataset
data = {
    "Name": ["Amit", "Rahul", "Priya", "Neha"],
    "Score": [78, 85, 90, 88]
}

df = pd.DataFrame(data)

# Display the data
df

    Name  Score
0   Amit     78
1  Rahul     85
2  Priya     90
3   Neha     88

In [2]:
# Install PySpark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [3]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName("BeginnerBigDataAnalysis").getOrCreate()

spark

In [4]:
# Download a large public dataset (movies dataset)
!wget https://raw.githubusercontent.com/datasets/movies/master/data/movies.csv

--2025-12-29 10:12:33--  https://raw.githubusercontent.com/datasets/movies/master/data/movies.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2025-12-29 10:12:33 ERROR 404: Not Found.

In [6]:
import pandas as pd

url = "https://raw.githubusercontent.com/vega/vega-datasets/master/data/movies.json"

# Load data from URL
pdf = pd.read_json(url)

# Save as CSV
pdf.to_csv("movies.csv", index=False)

print("movies.csv downloaded successfully")

movies.csv downloaded successfully

In [7]:
!ls

movies.csv  sample_data

In [8]:
df = spark.read.csv("movies.csv", header=True, inferSchema=True)
df.show(5)

+--------------------+---------+---------------+------------+-----------------+------------+-----------+----------------+-----------+-------------------+-----------+--------------------+--------+----------------------+-----------+----------+
|               Title| US Gross|Worldwide Gross|US DVD Sales|Production Budget|Release Date|MPAA Rating|Running Time min|Distributor|             Source|Major Genre|       Creative Type|Director|Rotten Tomatoes Rating|IMDB Rating|IMDB Votes|
+--------------------+---------+---------------+------------+-----------------+------------+-----------+----------------+-----------+-------------------+-----------+--------------------+--------+----------------------+-----------+----------+
|      The Land Girls| 146083.0|       146083.0|        NULL|        8000000.0| Jun 12 1998|          R|            NULL|   Gramercy|               NULL|       NULL|                NULL|    NULL|                  NULL|        6.1|    1071.0|
|First Love, Last ...|  10876.0|        10876.0|        NULL|         300000.0| Aug 07 1998|          R|            NULL|     Strand|               NULL|      Drama|                NULL|    NULL|                  NULL|        6.9|     207.0|
|I Married a Stran...| 203134.0|       203134.0|        NULL|         250000.0| Aug 28 1998|       NULL|            NULL|  Lionsgate|               NULL|     Comedy|                NULL|    NULL|                  NULL|        6.8|     865.0|
|Let's Talk About Sex| 373615.0|       373615.0|        NULL|         300000.0| Sep 11 1998|       NULL|            NULL|  Fine Line|               NULL|     Comedy|                NULL|    NULL|                  13.0|       NULL|      NULL|
|                Slam|1009819.0|      1087521.0|        NULL|        1000000.0| Oct 09 1998|          R|            NULL|    Trimark|Original Screenplay|      Drama|Contemporary Fiction|    NULL|                  62.0|        3.4|     165.0|
+--------------------+---------+---------------+------------+-----------------+------------+-----------+----------------+-----------+-------------------+-----------+--------------------+--------+----------------------+-----------+----------+
only showing top 5 rows

In [10]:
df.printSchema()

root
 |-- Title: string (nullable = true)
 |-- US Gross: double (nullable = true)
 |-- Worldwide Gross: double (nullable = true)
 |-- US DVD Sales: double (nullable = true)
 |-- Production Budget: double (nullable = true)
 |-- Release Date: string (nullable = true)
 |-- MPAA Rating: string (nullable = true)
 |-- Running Time min: double (nullable = true)
 |-- Distributor: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Major Genre: string (nullable = true)
 |-- Creative Type: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Rotten Tomatoes Rating: double (nullable = true)
 |-- IMDB Rating: double (nullable = true)
 |-- IMDB Votes: double (nullable = true)

In [11]:
from pyspark.sql.functions import year, to_date

# Convert Release Date to date format and extract year
df_with_year = df.withColumn(
    "year",
    year(to_date("Release Date"))
)

df_with_year.select("Title", "Release Date", "year").show(5)

{"ts": "2025-12-29 10:21:50.503", "level": "ERROR", "logger": "DataFrameQueryContextLogger", "msg": "[CAST_INVALID_INPUT] The value 'Jun 12 1998' of the type \"STRING\" cannot be cast to \"DATE\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018", "context": {"file": "java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)", "line": "", "fragment": "to_date", "errorClass": "CAST_INVALID_INPUT"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o70.showString.\n: org.apache.spark.SparkDateTimeException: [CAST_INVALID_INPUT] The value 'Jun 12 1998' of the type \"STRING\" cannot be cast to \"DATE\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018\n== DataFrame ==\n\"to_date\" was called from\njava.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\n\n\tat org.apache.spark.sql.errors.ExecutionErrors.invalidInputInCastToDatetimeErrorInternal(ExecutionErrors.scala:115)\n\tat org.apache.spark.sql.errors.ExecutionErrors.invalidInputInCastToDatetimeErrorInternal$(ExecutionErrors.scala:102)\n\tat org.apache.spark.sql.errors.ExecutionErrors$.invalidInputInCastToDatetimeErrorInternal(ExecutionErrors.scala:259)\n\tat org.apache.spark.sql.errors.ExecutionErrors.invalidInputInCastToDatetimeError(ExecutionErrors.scala:92)\n\tat org.apache.spark.sql.errors.ExecutionErrors.invalidInputInCastToDatetimeError$(ExecutionErrors.scala:88)\n\tat org.apache.spark.sql.errors.ExecutionErrors$.invalidInputInCastToDatetimeError(ExecutionErrors.scala:259)\n\tat org.apache.spark.sql.catalyst.util.SparkDateTimeUtils.$anonfun$stringToDateAnsi$1(SparkDateTimeUtils.scala:400)\n\tat scala.Option.getOrElse(Option.scala:201)\n\tat org.apache.spark.sql.catalyst.util.SparkDateTimeUtils.stringToDateAnsi(SparkDateTimeUtils.scala:400)\n\tat org.apache.spark.sql.catalyst.util.SparkDateTimeUtils.stringToDateAnsi$(SparkDateTimeUtils.scala:398)\n\tat org.apache.spark.sql.catalyst.util.DateTimeUtils$.stringToDateAnsi(DateTimeUtils.scala:41)\n\tat org.apache.spark.sql.catalyst.util.DateTimeUtils.stringToDateAnsi(DateTimeUtils.scala)\n\tat org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)\n\tat org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)\n\tat org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:50)\n\tat org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:402)\n\tat org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:901)\n\tat org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:901)\n\tat org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)\n\tat org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:374)\n\tat org.apache.spark.rdd.RDD.iterator(RDD.scala:338)\n\tat org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)\n\tat org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:171)\n\tat org.apache.spark.scheduler.Task.run(Task.scala:147)\n\tat org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:647)\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:80)\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:77)\n\tat org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:99)\n\tat org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:650)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n\tat org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1009)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2484)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2505)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2524)\n\tat org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:544)\n\tat org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:497)\n\tat org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:58)\n\tat org.apache.spark.sql.classic.Dataset.collectFromPlan(Dataset.scala:2244)\n\tat org.apache.spark.sql.classic.Dataset.$anonfun$head$1(Dataset.scala:1379)\n\tat org.apache.spark.sql.classic.Dataset.$anonfun$withAction$2(Dataset.scala:2234)\n\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\tat org.apache.spark.sql.classic.Dataset.$anonfun$withAction$1(Dataset.scala:2232)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$8(SQLExecution.scala:163)\n\tat org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:272)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$7(SQLExecution.scala:125)\n\tat org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)\n\tat org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:112)\n\tat org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:106)\n\tat org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:111)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$6(SQLExecution.scala:125)\n\tat org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:295)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$1(SQLExecution.scala:124)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId0(SQLExecution.scala:78)\n\tat org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:237)\n\tat org.apache.spark.sql.classic.Dataset.withAction(Dataset.scala:2232)\n\tat org.apache.spark.sql.classic.Dataset.head(Dataset.scala:1379)\n\tat org.apache.spark.sql.Dataset.take(Dataset.scala:2810)\n\tat org.apache.spark.sql.classic.Dataset.getRows(Dataset.scala:339)\n\tat org.apache.spark.sql.classic.Dataset.showString(Dataset.scala:375)\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\n\tat java.base/java.lang.reflect.Method.invoke(Method.java:569)\n\tat py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)\n\tat py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)\n\tat py4j.Gateway.invoke(Gateway.java:282)\n\tat py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)\n\tat py4j.commands.CallCommand.execute(CallCommand.java:79)\n\tat py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)\n\tat py4j.ClientServerConnection.run(ClientServerConnection.java:108)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n", "stacktrace": [{"class": null, "method": "deco", "file": "/usr/local/lib/python3.12/dist-packages/pyspark/errors/exceptions/captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "/usr/local/lib/python3.12/dist-packages/py4j/protocol.py", "line": "327"}]}}

DateTimeException: [CAST_INVALID_INPUT] The value 'Jun 12 1998' of the type "STRING" cannot be cast to "DATE" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018
== DataFrame ==
"to_date" was called from
java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)

In [14]:
from pyspark.sql.functions import year, to_date, col

In [15]:
df_with_year = df.withColumn(
    "year",
    year(to_date(col("Release Date"), "MMM dd yyyy"))
)

df_with_year.select("Title", "Release Date", "year").show(5)

+--------------------+------------+----+
|               Title|Release Date|year|
+--------------------+------------+----+
|      The Land Girls| Jun 12 1998|1998|
|First Love, Last ...| Aug 07 1998|1998|
|I Married a Stran...| Aug 28 1998|1998|
|Let's Talk About Sex| Sep 11 1998|1998|
|                Slam| Oct 09 1998|1998|
+--------------------+------------+----+
only showing top 5 rows

In [16]:
movies_per_year = df_with_year.groupBy("year").count().orderBy("year")
movies_per_year.show(10)

+----+-----+
|year|count|
+----+-----+
|1928|    1|
|1929|    1|
|1930|    1|
|1933|    1|
|1937|    2|
|1938|    1|
|1939|    2|
|1941|    1|
|1943|    1|
|1944|    3|
+----+-----+
only showing top 10 rows

### Big Data Analysis â€“ Insights

- A movie dataset with 3,201 records was analyzed using PySpark.
- The release year was extracted by parsing non-standard date formats.
- Group-by analysis revealed trends in movie releases across years.
- PySpark efficiently handled data transformation and aggregation, demonstrating scalability.