<a href="https://colab.research.google.com/github/krishnavekariya1995/Data-Analytics-Internship-Tasks/blob/main/Task_1_Big_Data_Analysis_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Big Data Analysis - Ecommerce") \
    .getOrCreate()

spark

In [5]:
!wget -O sales.csv https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv

--2026-01-01 17:26:36--  https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv
Resolving people.sc.fsu.edu (people.sc.fsu.edu)... 144.174.0.22
Connecting to people.sc.fsu.edu (people.sc.fsu.edu)|144.174.0.22|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 328 [text/csv]
Saving to: â€˜sales.csvâ€™

sales.csv           100%[===================>]     328  --.-KB/s    in 0s

2026-01-01 17:26:38 (166 MB/s) - â€˜sales.csvâ€™ saved [328/328]

In [6]:
df = spark.read.csv("sales.csv", header=True, inferSchema=True)

In [7]:
df.printSchema()

root
 |-- John: string (nullable = true)
 |-- Doe: string (nullable = true)
 |-- 120 jefferson st.: string (nullable = true)
 |-- Riverside: string (nullable = true)
 |--  NJ: string (nullable = true)
 |--  08075: string (nullable = true)

In [8]:
df.show(5)

+------------------+--------+--------------------+-------------------+-----------+------+
|              John|     Doe|   120 jefferson st.|          Riverside|         NJ| 08075|
+------------------+--------+--------------------+-------------------+-----------+------+
|              Jack|McGinnis|        220 hobo Av.|              Phila|         PA| 09119|
| "John ""Da Man"""|  Repici|   120 Jefferson St.|          Riverside|         NJ| 08075|
|           Stephen|   Tyler|"7452 Terrace ""A...|           SomeTown|         SD| 91234|
|              NULL|Blankman|                NULL|           SomeTown|         SD| 00298|
|"Joan ""the bone""|   Anne"|                 Jet|9th, at Terrace plc|Desert City|    CO|
+------------------+--------+--------------------+-------------------+-----------+------+

In [9]:
df.count()

5

In [10]:
!wget -O retail.csv https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv

--2026-01-01 17:28:13--  https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv
Resolving people.sc.fsu.edu (people.sc.fsu.edu)... 144.174.0.22
Connecting to people.sc.fsu.edu (people.sc.fsu.edu)|144.174.0.22|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3734 (3.6K) [text/csv]
Saving to: â€˜retail.csvâ€™

retail.csv          100%[===================>]   3.65K  --.-KB/s    in 0s

2026-01-01 17:28:14 (2.07 GB/s) - â€˜retail.csvâ€™ saved [3734/3734]

In [11]:
df = spark.read.csv("retail.csv", header=True, inferSchema=True)

In [12]:
df.printSchema()

root
 |-- Index: integer (nullable = true)
 |--  Height(Inches)": double (nullable = true)
 |--  "Weight(Pounds)": double (nullable = true)

In [13]:
df.show(5)

+-----+----------------+-----------------+
|Index| Height(Inches)"| "Weight(Pounds)"|
+-----+----------------+-----------------+
|    1|           65.78|           112.99|
|    2|           71.52|           136.49|
|    3|            69.4|           153.03|
|    4|           68.22|           142.34|
|    5|           67.79|            144.3|
+-----+----------------+-----------------+
only showing top 5 rows

In [14]:
df.count()

200

In [15]:
df.describe().show()

+-------+------------------+------------------+------------------+
|summary|             Index|   Height(Inches)"|  "Weight(Pounds)"|
+-------+------------------+------------------+------------------+
|  count|               200|               200|               200|
|   mean|             100.5| 67.94979999999998| 127.2219500000001|
| stddev|57.879184513951124|1.9403625936857467|11.960959176403783|
|    min|                 1|             63.43|              97.9|
|    max|               200|              73.9|            158.96|
+-------+------------------+------------------+------------------+

In [16]:
from pyspark.sql.functions import col

df.select([col(c) for c in df.columns]).show(5)

+-----+----------------+-----------------+
|Index| Height(Inches)"| "Weight(Pounds)"|
+-----+----------------+-----------------+
|    1|           65.78|           112.99|
|    2|           71.52|           136.49|
|    3|            69.4|           153.03|
|    4|           68.22|           142.34|
|    5|           67.79|            144.3|
+-----+----------------+-----------------+
only showing top 5 rows

In [17]:
spark

In [18]:
df.printSchema()

root
 |-- Index: integer (nullable = true)
 |--  Height(Inches)": double (nullable = true)
 |--  "Weight(Pounds)": double (nullable = true)

In [19]:
df.show(10, truncate=False)

+-----+----------------+-----------------+
|Index| Height(Inches)"| "Weight(Pounds)"|
+-----+----------------+-----------------+
|1    |65.78           |112.99           |
|2    |71.52           |136.49           |
|3    |69.4            |153.03           |
|4    |68.22           |142.34           |
|5    |67.79           |144.3            |
|6    |68.7            |123.3            |
|7    |69.8            |141.49           |
|8    |70.01           |136.46           |
|9    |67.9            |112.37           |
|10   |66.78           |120.67           |
+-----+----------------+-----------------+
only showing top 10 rows

In [20]:
df.count()

200

In [21]:
from pyspark.sql.functions import col, sum

df.select([
    sum(col(c).isNull().cast("int")).alias(c)
    for c in df.columns
]).show()

+-----+----------------+-----------------+
|Index| Height(Inches)"| "Weight(Pounds)"|
+-----+----------------+-----------------+
|    0|               0|                0|
+-----+----------------+-----------------+

In [22]:
df.describe().show()

+-------+------------------+------------------+------------------+
|summary|             Index|   Height(Inches)"|  "Weight(Pounds)"|
+-------+------------------+------------------+------------------+
|  count|               200|               200|               200|
|   mean|             100.5| 67.94979999999998| 127.2219500000001|
| stddev|57.879184513951124|1.9403625936857467|11.960959176403783|
|    min|                 1|             63.43|              97.9|
|    max|               200|              73.9|            158.96|
+-------+------------------+------------------+------------------+

In [23]:
from pyspark.sql.functions import monotonically_increasing_id

df = df.withColumn("row_id", monotonically_increasing_id())
df.show(5)

+-----+----------------+-----------------+------+
|Index| Height(Inches)"| "Weight(Pounds)"|row_id|
+-----+----------------+-----------------+------+
|    1|           65.78|           112.99|     0|
|    2|           71.52|           136.49|     1|
|    3|            69.4|           153.03|     2|
|    4|           68.22|           142.34|     3|
|    5|           67.79|            144.3|     4|
+-----+----------------+-----------------+------+
only showing top 5 rows

In [24]:
df.createOrReplaceTempView("retail_data")

In [25]:
spark.sql("""
SELECT *
FROM retail_data
LIMIT 5
""").show()

+-----+----------------+-----------------+------+
|Index| Height(Inches)"| "Weight(Pounds)"|row_id|
+-----+----------------+-----------------+------+
|    1|           65.78|           112.99|     0|
|    2|           71.52|           136.49|     1|
|    3|            69.4|           153.03|     2|
|    4|           68.22|           142.34|     3|
|    5|           67.79|            144.3|     4|
+-----+----------------+-----------------+------+

In [26]:
spark.sql("""
SELECT COUNT(*) AS total_records
FROM retail_data
""").show()

+-------------+
|total_records|
+-------------+
|          200|
+-------------+

In [28]:
df_repartitioned = df.repartition(4)
df_repartitioned.rdd.getNumPartitions()

4

## ðŸ“Š Task 1 â€“ Key Insights (Big Data Analysis)

- The dataset was successfully processed using **PySpark**, demonstrating scalable and distributed data handling capabilities.

- Schema inference was performed to understand the structure of the dataset, and distributed descriptive statistics were computed using Spark to summarize numerical features.

- Data quality checks were conducted to identify missing or null values across all columns, ensuring data reliability before further analysis.

- **Spark SQL** was utilized to perform analytical queries efficiently, showcasing the ability to analyze large datasets using SQL-style syntax.

- Data repartitioning was applied to demonstrate Sparkâ€™s scalability and parallel computation capabilities across multiple partitions.